# Gradle
.gradle/
build/

# IntelliJ / Android Studio
.idea/
*.iml
*.iws
out/
local.properties

# Kotlin
.kotlin/
kotlin-js-store/

# VS Code
.vscode/

# Eclipse
.settings/
.classpath
.project
bin/

# OS specific
.DS_Store
Thumbs.db
